@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
.img-logo {
  font-family: "Great Vibes", cursive;
  font-size: 30px;
  padding-top: 20px;
  color: beige;
}

.navbar .btn-outline-light {
  font-weight: 700;
}

.navbar .btn-outline-light:hover {
  background-color: beige;
  border-color: orangered;
}
